
.derivatives-replacement-message {
  clear: both;
  margin: 32px;
  padding: 32px;
  border: 1px solid black;
  border-radius: 8px; 
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px; 
  border: 1px solid #000;
  background-color: #eee;
}

.derivatives-replacement-message EM {
  font-weight: bold;
  color: red;
}
